<div class="col-xs-3 left-side">
  {{input class="form-control" value=production.leftSide.name}}
</div>
<div class="col-xs-1 text-center arrow">
  {{fa-icon "arrow-right"}}
</div>
<div class="input-group col-xs-8 right-side">
  {{symbols-input}}
  <span class="input-group-btn">
    {{bs-button type="danger" icon="fa fa-remove" action="remove"}}
  </span>
</div>
