@import './bootstrap';

.production-input {
  margin-bottom: 20px;

  .left-side,
  .arrow {
    padding: 0;
  }

  .arrow {
    line-height: 34px;
  }
}

.page-header {
  margin-top: 10px;

  h3 {
    color: #777;
    font-size: 18px;
    margin-left: 25px;
    font-weight: 200;
  }
}
