@import './bootstrap';

.production-input {
  margin-bottom: 20px;

  .left-side,
  .arrow {
    padding: 0;
  }

  .arrow {
    line-height: 34px;
  }
}

.page-header {
  margin-top: 10px;

  h3 {
    color: #777;
    font-size: 18px;
    margin-left: 25px;
    font-weight: 200;
  }
}

ul.help-block {
  padding-left: 25px;
}

.panel-footer {
  h5 {
    font-weight: bold;
    font-size: 14px;
  }

  ul {
    padding-left: 15px;
  }
}

.examples-dropdown {
  pre {
    border: none;
    background: none;
  }
}

.bottom-navigation {
  margin-top: 20px;

  a {
    margin-right: 10px;
  }

  .text-right a {
    margin-left: 10px;
    margin-right: 0;
  }
}

.canonic-items-set {
  td {
    padding: 2px 5px;
    white-space: nowrap;
  }
}


.parsing-table {
  .lt-body td,
  .lt-head th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 5px 12px;
  }


  .lt-head table {
    border-left: 1px solid #ddd;
  }
  .lt-head th {
    background-color: #ececec;
  }
}

.recognition-form {
  margin-bottom: 20px;
}
