<div class="row">
  <div class="col-xs-12 page-header">
    <h2>Análise SLR</h2>
    <h3>Processo de análise sintática da gramática</h3>
  </div>
</div>

{{#if model.grammar.isValid}}
  <h3>Preparação da gramática</h3>
  <p>
    Esta etapa envolve a geração da <em>gramática aumentada</em>, a adição
    dos <em>itens canônicos</em> e a <em>numeração das produções</em>. A
    gramática gerada após essas modificações é exibida abaixo.
  </p>

  {{grammar-formalism model.itemized numberProductions=true grammarSymbol="G'"}}
{{else}}
  {{#bs-alert type="danger" dismissible=false class="text-center"}}
    <h3>Gramática não foi configurada ainda...</h3>

    {{link-to 'Configurar gramática' 'index' class="btn btn-lg btn-danger"}}
  {{/bs-alert}}
{{/if}}
