<div class="row">
  <div class="col-xs-12 page-header">
    {{#bs-button type="success" size="lg" action="loadExample" class="pull-right"}}Exemplo{{/bs-button}}
    <h2>Entrada da gramática</h2>
    <h3>Configure a gramática utilizada na análise sintática</h3>
  </div>
</div>

{{grammar-input grammar}}

<div class="row">
  <div class="col-xs-12 text-right">
    {{#bs-button type="primary" size="lg" action="next" disabled=(not grammar.isValid)}}
      Próximo {{fa-icon "arrow-circle-right"}}
    {{/bs-button}}
  </div>
</div>
