<div class="row">
  <div class="col-xs-12 page-header">
    <h2>Reconhecedor</h2>
    <h3>Reconhece sentenças utilizando a gramática analisada</h3>
  </div>
</div>

{{#if model}}
{{else}}
  {{#bs-alert type="danger" dismissible=false class="text-center"}}
    <h3>Gramática não foi configurada ainda...</h3>

    {{link-to 'Configurar gramática' 'index' class="btn btn-lg btn-danger"}}
  {{/bs-alert}}
{{/if}}
